@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

.wrap {
  display: flex;
  flex-wrap: wrap ;
  justify-content: space-evenly;
  margin: 1rem 0 0 0;
}

.reverse-wrap {
    flex-wrap: wrap-reverse;
}

.left {
    height: auto;
    width: 600px;
    display: inline-block;
    margin: 1rem;
}

.right {
    width: 600px;
    margin: 1rem;
}

.right img {
    height: auto;
    max-width: 100%;
    border-radius: 25px;
    padding: 10px;
}

.wrap .header {
    text-align: center;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.wrap .header2 {
    text-align: left;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.wrap .header2 span {
    text-align: left;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}
.wrap p, .wrap ul li {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

.box-btn {
    text-align: center;
}

.Whoweare-icon {
    width: 500px;
    margin: auto;
}

.icons {
    display: flex;
    justify-content: center;
    height: 100px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 15px 40px -20px rgba(0,0,0,0.64);
    max-width: 100%;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgba(201, 192, 192, 0.308);
}

.icons p {
    width: 700px;
    margin-left: 1rem;
}

.whoweare-header {
    padding: 0 2rem;
}


.wrap  .left2 {
    margin-top: 8rem;
}

/* MEDIA QUERIES */

@media screen and (max-width:940px) {

    .hide {
        display: none;
    }

    .Whoweare-icon img {
        width: 50px;
        height: 50px;
    }

    .wrap p {
        font-size: 14px;
        margin: 1rem;
    }

    .left .Whoweare-icon{
        width: 100%;
    }

    .left h1 {
        font-size: 2rem;
    }

    .left button {
    margin: 1rem auto;
    }

    .right-img img {
    display: none;
    }

    .wrap  .left2 {
        margin-top: 0rem;
    }

}


@media screen and (max-width:500px) {
    .icons {
        height: 120px;
    }

    .wrap {
        margin: 1rem 0 0 0;
      }

    .wrap .header2 span {
        font-size: 30px;
}

    .Whoweare-icon {
        width: 360px;
    }

    .Whoweare-icon p {
        font-size: 12px;
    }


}