@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');





.wrap1 {
  display: flex;
  flex-wrap: wrap ;
  justify-content: space-evenly;
  margin: 1rem 0 0 0;
  padding: 5rem 0;
}

.wrap1 .left {
    height: auto;
    width: 600px;
    display: inline-block;
    margin: 1rem;
}

.wrap1 .right {
    width: 600px;
    margin: 1rem;
}

.wrap1 .right img {
    height: auto;
    max-width: 100%;
    border-radius: 25px;
    padding: 10px;
}


.wrap1 .left p {
    text-align: justify;
}

.wrap1 .header {
    text-align: left;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.wrap1 .header2 span {
    text-align: left;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}


/* WRAP 2 */


.wrap2 {
    display: flex;
    flex-wrap: wrap-reverse;
    background: url('../../assets/hero-bg-3.jpg') no-repeat center center/cover;
    justify-content: space-evenly;
    margin: 1rem 0 0 0;
    padding: 5rem 0;
  }
  
  
  .wrap2 .left {
      height: auto;
      width: 600px;
      display: inline-block;
      margin: 1rem;
  }
  
  .wrap2 .right {
      width: 450px;
      margin: 1rem;
  }

  .wrap2 .right img {
    width: 100%;
  }

.wrap2 h1 {
    color: white;
}

  .wrap2 p {
    color: rgb(7, 73, 7);
  }


/* WRAP 3 */


.wrap3 {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    margin: 1rem 0 0 0;
    padding: 5rem 0;
  }
  
  
  .wrap3 .left {
      height: auto;
      width: 600px;
      display: inline-block;
      margin: 1rem;
      text-align: justify;
  }
  
  .wrap3 .right {
      width: 500px;
      margin: 1rem;
  }


  .wrap3 .right img {
    width: 100%;
    border-radius: 1rem;
}

/* WRAP 4 */


.wrap4 {
    display: flex;
    flex-wrap: wrap;
    background: url('../../assets/hero-bg-3.jpg') no-repeat center center/cover;
    justify-content: space-evenly;
    margin: 1rem 0 0 0;
    padding: 5rem 0;
  }
  
  
  .wrap4 .left {
      height: auto;
      width: 600px;
      display: inline-block;
      margin: 1rem;
      padding-top: 5rem;
  }
  
  .wrap4 .right {
      width: 400px;
      margin: 1rem;
  }


  .wrap4 .right img {
    width: 100%;
}


.Whoweare-icon {
    width: 500px;
    margin: auto;
}

.icons {
    display: flex;
    justify-content: center;
    height: 100px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 15px 40px -20px rgba(0,0,0,0.64);
    max-width: 100%;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgba(201, 192, 192, 0.308);
}

.icons p {
    width: 700px;
    margin-left: 1rem;
}

.whoweare-header {
    padding: 0 2rem;
}


/* MEDIA QUERIES */

@media screen and (max-width:940px) {



}


@media screen and (max-width:500px) {
   
}